.calculator{
    padding: 10px;
    border-radius: 20px;
    height: 480px;
    width: auto;
    margin: auto;
    background-color: #2a353d;
}
.display-box{
    font-family: sans-serif;
    font-size: large;
    background-color: rgb(248, 252, 252);
    border:solid black 0.5px;
    border-radius: 5px;
    width: 90%;
    height: 70%;
}


input[type=button]{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: rgb(158, 200, 240);
    border: solid black 0.5px;
    width: 90%;
    height: 65%;
    border-radius: 10px;
    border-style: inset;

}
